<div>
  <h4><%= _("Merge Articles") %></h4>
  <label style="text-align: left">Article ID&nbsp;</label>
  <input type="text", id="merge_with", name="merge_with" size=30 /> <br/>
  <input type="submit", id="merge_button", name="merge_button", value="Merge" />
</div>
